# This file is used to ignore files and directories that should not be tracked by Git.

# Godot-specific
.import/
.export/
.godot/

# builds
bin/
obj/
Builds/
*.exe
*.dll
*.pdb
*.mono/
*.mono-temp/
*.csproj.user

# NuGet
packages/

# Test results
TestResults/
*.trx

# VS Code
.vscode/

# JetBrains Rider
.idea/

# LaTeX
*.tex
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.pdf

# OS
.DS_Store
Thumbs.db